{% extends 'base.html'%}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for set in sets %}
      <tr>
        <th scope="row">{{ set.pk }}</th>
        <td>{{ set.title }}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'questionnaire:set_page' set.pk %}" role="button">Пройти</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}