{% extends 'base.html'%}
{% block content %}
<div class="container">
<h3>
    <p>Вопрос № {{ question.number }}</p>
</h3>
<h2>
    <p>{{ question.text }}</p>
</h2>

<form action="{% url 'questionnaire:get_answer' num_set question.number %}" method="post">
    {% csrf_token %}
    {% for answer in answers %}
        <div class="form-check">
            <input class="form-check-input" 
            {% if has_multiple_answers %}
                type="checkbox" 
            {% else %}
                type="radio" 
            {% endif %}            
            name="choice" id="choice{{ forloop.counter }}" value="{{ answer.pk }}" />
            <label class="form-check-label" for="choice{{ forloop.counter }}">{{ answer.text }}</label>
            <br/>
        </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">
        Далее
    </button>
</form>
</div>
{% endblock %}