{% extends 'base.html'%}
{% block content %}
<h3>
    <p>Вопрос № {{ question.number }}</p>
</h3>
<h2>
    <p>{{ question.text }}</p>
</h2>

<form action="{% url 'questionnaire:get_answer' num_set question.pk %}" method="post">
    {% csrf_token %}
    {% for answer in answers %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ answer.pk }}" />
        <label for="choice{{ forloop.counter }}">{{ answer.text }}</label><br />
    {% endfor %}
    <input type="submit" value="Далее" />
</form>
{% endblock %}